force-app/main/default/flows/ContactRecruiting-2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Referral_to_List</name>
        <label>Add Referral to List</label>
        <locationX>222</locationX>
        <locationY>428</locationY>
        <assignmentItems>
            <assignToReference>Referrals</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentReferral</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateReferral</name>
        <label>Create Referral</label>
        <locationX>356</locationX>
        <locationY>303</locationY>
        <assignmentItems>
            <assignToReference>CurrentReferral.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactIterator.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentReferral.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactIterator.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentReferral.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactIterator.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentReferral.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactIterator.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentReferral.Position_or_Skills__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactIterator.Title</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Referral_to_List</targetReference>
        </connector>
    </assignments>
    <interviewLabel>ContactRecruiting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ContactRecruiting</label>
    <loops>
        <name>Loop_Contacts</name>
        <label>Loop Contacts</label>
        <locationX>63</locationX>
        <locationY>303</locationY>
        <assignNextValueToReference>contactIterator</assignNextValueToReference>
        <collectionReference>Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateReferral</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Save_Referrals_to_DB</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Save_Referrals_to_DB</name>
        <label>Save Referrals to DB</label>
        <locationX>64</locationX>
        <locationY>534</locationY>
        <inputReference>Referrals</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>63</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contacts</outputReference>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Title</queriedFields>
    </recordLookups>
    <startElementReference>Get_Contacts</startElementReference>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactIterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CurrentReferral</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>Referrals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
</Flow>
